// Colors
$primary-color: #6D54A7;
$dark-primary-color: #48307E;
$secondary-color: #38C2CF;
$third-color: #6B8CC7;
$light-color: #fff;
$dark-color: #000;
$shadow-color: #0000000D;

// Borders
$radius-10: 10px;
$radius-15: 15px;
$radius-19: 19px;

// Transitions
$general-transition: .3s all ease-in-out;