// Colors
$primary-color: #1877F2;
$light-primary-color: #CFE2FD;
$dark-primary-color: #0F4CB3;
$secondary-color: #1877F2;
$third-color: #6B8CC7;
$light-color: #fff;
$dark-color: #0E0C15;
$shadow-color: #0000000D;
$text-color: #455973;

// Additional color variables from Figma
$primary-color-100: $light-primary-color;
$primary-color-200: #B8CDEB;
$primary-color-400: $primary-color;
$primary-color-500: #135ED5;
$dark-color-200: #FCFCFC;
$dark-color-600: $text-color;


// Secondary and Error colors for impact categories
$secondary-color-100: #CED2F4;
$error-100: #FBCFD7;
$warning-100: #FFF4CF;
$warning-500: #D09416;
$dark-700: #0E0C15;
$success-100: #D6F5ED;
$dark-300: #F7F7F7;

// Borders
$radius-8: 8px;
$radius-10: 4px;
$radius-12: 12px;
$radius-15: 15px;
$radius-16: 16px;
$radius-19: 19px;

// Border widths
$border-width-2: 2px;
$border-width-4: 4px;

// Transitions
$general-transition: .3s all ease-in-out;

// Global Input Styles
$input-height: auto;
$input-font-size: 16px;
$input-border-radius: 4px;
$input-padding: 12px 24px;