@import "../../variables";

.contact-item {
  display: flex;
  max-width: 450px;
  color: $primary-color;
  margin-bottom: 0.25rem;
}

a {
  transition: $general-transition;
  display: inline-flex;
  gap: 0.5rem;
  grid-gap: 0.5rem;
  font-size: 20px;

  @media (max-width: 576px) {
    font-size: 16px;
  }

  &:hover {
    color: $secondary-color;

    svg {
      path {
        fill: $secondary-color;
      }
    }
  }
}

.contact-icon {
  width: 20px;
  
  svg {
    width: 20px;
    height: 20px;

    @media (max-width: 576px) {
      width: 16px;
      height: 16px;
    }

    path {
      fill: $primary-color;
      transition: $general-transition;
    }
  }

  &.phone-numbers-container {
    .phone-numbers {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      grid-gap: 0.25rem;
    }
  }
}