@import '../../variables';

.news-inner-section {
    border-radius: $radius-12;
    overflow: hidden;
    display: flex;
    min-height: 300px;
    position: relative;
    padding: 96px 0;
    gap: 60px;

    
    &__content {
        flex: 0 0 40%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        position: relative;
    }
    
    &__tag {
        display: inline-block;
        background: $light-color;
        color: $primary-color;
        padding: 6px 16px;
        border-radius: 32px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        align-self: flex-start;
    }
    
    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $text-color;
        margin: 16px 0;
    }
    
    &__description {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $text-color;
        margin-bottom: 24px;
        flex-grow: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 120px; /* Fallback for browsers that don't support -webkit-line-clamp */
    }
    
    &__button {
        display: inline-block;
        background: $primary-color;
        color: $light-color;
        padding: $input-padding;
        border-radius: $input-border-radius;
        text-decoration: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        transition: $general-transition;
        align-self: flex-start;
        
        &:hover {
            background: $primary-color-500;
            color: $light-color;
            text-decoration: none;
            transform: translateY(-2px);
        }
    }
    
    &__image {
        flex: 0 0 50%;
        position: relative;
        overflow: hidden;
        border-radius: $radius-12;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            //background: linear-gradient(90deg, rgba($primary-color, 0.3) 0%, transparent 50%);
            z-index: 1;
        }
    }
    
    @media (max-width: 768px) {
        flex-direction: column;
        min-height: 550px;
        margin: 24px 0;

        &__content {
            flex: 0 0 100%;
            padding: 24px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        justify-content: flex-start;
            
            z-index: 3;
        }
        
        &__image {
            flex: 0 0 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        
        &__title {
            font-size: 20px;
            color: $light-color;
            margin: 24px 0;
        }
        
        &__description {
            font-size: 18px;
            color: $light-color;
            flex-grow: 0;
            margin-bottom: 63px;
        }
        
        &__tag {
            font-size: 14px;
            padding: 2px 12px;
            color: $warning-500;
            background: $warning-100;
        }
        &__button {
            font-size: 16px !important;
            color: $dark-color-600 !important;
            background: $warning-100 !important;
            width: 100% !important;
        }
    }
} 