@import '../../variables';

.program-stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-gap: 2rem;

    .program-stats-item {
        display: flex;
        gap: 1rem;
        grid-gap: 1rem;
        align-items: center;

        .program-stats-icon {
            height: 67px;
            width: 67px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            @media (max-width: 576px) {
                height: 47px;
                width: 47px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            .program-icon {
                height: 56px;
                width: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $primary-color;
                border-radius: 8px;

                img {
                    height: 32px;
                    width: 32px;
                    object-fit: contain;
                }
            }
        }

        .program-stats-info {
            display: flex;
            flex-direction: column;
            align-self: center;
            flex-grow: 1;

            span {
                &:first-of-type {
                    font-size: 28px;
                    color: $primary-color;
                    font-weight: bold;
                    line-height: 1.2;

                    @media (max-width: 576px) {
                        font-size: 20px;
                    }
                }

                &:last-of-type {
                    font-size: 20px;
                    color: $text-color;
                    font-weight: 500;
                    line-height: 1.3;

                    @media (max-width: 576px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}