@import "../../variables";

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #eee;

  .project-img {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
      aspect-ratio: 16/9;
    }
  }

  .project-title {
    margin: 1rem 0;
    padding: 0 0.75rem;

    h3 {
      color: $primary-color;
      font-size: 24px;
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  .project-desc {
    padding: 0 0.75rem;
    p {
      color: $text-color;
      font-size: 20px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}
