@import '../variables';

.blog-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 20px;

    .blog-img {
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        height: 220px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .blog-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-top: 1rem;
        padding: 0 0.75rem;
    }

    .blog-desc {
        font-size: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        color: $text-color;
        padding: 0 0.75rem;

        @media (max-width: 992px) {
            font-size: 18px;
        }
    }

    .blog-more {
        margin-top: auto;
        padding: 0 0.75rem 1rem;

        span {
            border-radius: 25px !important;
            display: inline-flex;
            text-align: center;
        }
    }
}